  .blog {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .blog-image {
    width: 100%;
    height: 200px;
    transition: transform 0.5s;
  }
  
  .blog-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transition: background-color 0.5s;
    height: 400px;
  }
  
  .blog:hover .blog-image {
    transform: scale(1.1);
  }
  
  .blog:hover .blog-content {
    background-color: #fff;
  }
  
  .blog-title {
    margin-top: 0;
    color:#c55e9e;
  }
  

  * {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #a14e81;
  padding: 20px 10px;
  height: 100px;
  margin-bottom: 30px;
  
}

.wrap-logo {
  display: flex;
  align-items: center;
}

header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #a14e81;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 0; bottom: 0;
  bottom: 0;
  width: 100%;
}

a{
  color: white;
}  

@media (max-width: 768px) {
  .blogs {
    grid-template-columns: 1fr;
  }
}